@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dr.Pizza</h1>
    <h3>The Most tasty Pizza in Town</h3>
    <img src="~/Images/unnamed.png" />
    <a class="btn btn-success"asp-area="" asp-page="/Pizza">Bring Me the Dr.Pizza Special</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
