@page
@model ICAE2.Pages.PizzaModel
@{
}
<div class="text-center">
    <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Our Great Collection Of Pizza</h2>
    <h3>Choose one or try our pizza builder!Then order and done!<br />No personal details required!<br />We got your covered!</h3>
    <div colum="10" class="font-weight-light">Only One pizza per order!</div>
</div>
<div style="background-color:gray">
    <div><img src="~/Images/Beef.png" /></div>
    <div>Crate Your Own Pizza </div>
    <div>Make your own pizza with pizza maker!</div>
    <div><a class="btn btn-success"style="background-color:blue">Try Now!</a></div>
</div>